{{> post-content post}}

{{#if loggedIn}}
<form class="container comment-form d-flex justify-content-center">
  <div class="col">
		<label for="comment" class="form-label">Comment:</label>
    <textarea name="comment-body" class="form-control mb-2" id="comment" rows="3"></textarea>
    <button type="submit" class="btn btn-primary me-2 mb-2">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}